<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      Heading 1
    </div>
    <div class="panel-body">
      Body 1
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Heading 1
    </div>
    <div class="panel-body">
      Body 1
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Heading 1
    </div>
    <div class="panel-body">
      Body 1
    </div>
  </div>

</div>
