.btn {
  border-color: #43A047;
}

.glyphicon.glyphicon-edit,
.glyphicon.glyphicon-trash {
  color: white;
}

carousel {
  margin-top: 20px;
  margin-bottom: 20px;
}

.scrollable-content {
  // navbar-height = 50px
  // default-padding = 20px
  // button-height = 34px
  // default-padding * 2 + hr-height = 41px
  height: calc(100vh - 50px - 20px - 34px - 41px);
}

.detail-header {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.header-body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  flex: 8;
}


