<div class="btn-group">
  <button type="button" class="btn btn-default" (click)="onNavigateBack()">
    <span class="glyphicon glyphicon-chevron-left"></span>
    Zurück
  </button>
  <button type="button" class="btn btn-primary" (click)="onEditButtonClicked()">
    <span class="glyphicon glyphicon-edit"></span>
    Bearbeiten
  </button>
  <button *ngIf="authService.getUserLevel() == 9" type="button" class="btn btn-danger"
          (click)="onDeleteButtonClicked()">
    <span class="glyphicon glyphicon-trash"></span>
    Löschen
  </button>
</div>
<hr>
<perfect-scrollbar class="scrollable-content"
                   #detailContainer>
  <div *ngIf="method"
       [@fadeInOut]="'in'">
    <div class="detail-header">
      <img height="60px"
           [src]="method.thumbnail"
           onError="this.src='assets/default-icon.png'">
      <div class="header-body">
        <h4><strong>{{method.title}}</strong></h4>
        Durchschnittliche Bewertung:
        <rating [ngModel]="method.userRating"
                [max]="5"
                [titles]="['eins','zwei','drei','vier','fünf']"
                style="font-size: 1.4em"
                [readonly]="true">
        </rating>
        Deine Bewertung:
        <rating [(ngModel)]="selectedRating"
                (ngModelChange)="updateUserrating()"
                [max]="5"
                [titles]="['eins','zwei','drei','vier','fünf']"
                style="font-size: 1.4em">
        </rating>
      </div>
      <button class="btn btn-default" (click)="toggleFavorite()">
        <span class="glyphicon"
              [ngClass]="{ 'glyphicon-heart': isFavorite, 'glyphicon-heart-empty': !isFavorite }"
              style="font-size: 1.5em"></span>
      </button>
    </div>
    <div class="row" *ngIf="method.images">
      <carousel class="col-xs-4 col-xs-offset-4">
        <slide *ngFor="let image of method.images">
          <img [src]="image" class="img-responsive" width="100%">
        </slide>
      </carousel>
    </div>
    <table class="table">
      <tbody>
      <tr *ngIf="method.alternativeTitles">
        <th>Alternativnamen</th>
        <td>{{ method.alternativeTitles | splitArray }}</td>
      </tr>
      <tr *ngIf="method.socialForm">
        <th>Sozialform</th>
        <td>{{ method.socialForm | socialform }}</td>
      </tr>
      <tr *ngIf="method.phase">
        <th>Phase</th>
        <td>{{ method.phase | phase }}</td>
      </tr>
      <tr *ngIf="method.subPhase">
        <th>Unterphase</th>
        <td>{{ method.subPhase | subphase }}</td>
      </tr>
      <tr *ngIf="method.result">
        <th>Ergebnis</th>
        <td>{{ method.result }}</td>
      </tr>
      <tr *ngIf="method.courseType">
        <th>Art der Veranstaltung</th>
        <td>{{ method.courseType | courseType }}</td>
      </tr>
      <tr *ngIf="method.groupType">
        <th>Teilnehmer-<br>
          zusammensetzung
        </th>
        <td>
          <div class="flex-group-type">
            <div class="flex-text-left">homogen</div>
            <div class="range-input">
              <input type="range" min="0" max="10" [value]="method.groupType" disabled title="">
            </div>
            <div class="flex-text-right">heterogen</div>
          </div>
        </td>
      </tr>
      <tr *ngIf="method.groupSizeMin || method.groupSizeMax">
        <th>Gruppengröße</th>
        <td>{{ method.groupSizeMin }}-{{ method.groupSizeMax }} Personen</td>
      </tr>
      <tr *ngIf="method.groupSizeComment">
        <th>Gruppengröße (Kommentar)</th>
        <td>{{ method.groupSizeComment }}</td>
      </tr>
      <tr *ngIf="method.proceeding">
        <th>Ablauf</th>
        <td>{{ method.proceeding }}</td>
      </tr>
      <tr *ngIf="method.phaseProceeding">
        <th>Phasenspezifischer Ablauf</th>
        <td>{{ method.phaseProceeding }}</td>
      </tr>
      <tr *ngIf="method.seating">
        <th>Bestuhlung</th>
        <td>{{ method.seating }}</td>
      </tr>
      <tr *ngIf="method.material">
        <th>Material</th>
        <td>{{ method.material }}</td>
      </tr>
      <tr *ngIf="method.methodMaterial">
        <th>Methodenspezifisches Material</th>
        <td>{{ method.methodMaterial }}</td>
      </tr>
      <tr *ngIf="method.timeMin || method.timeMax">
        <th>Zeitaufwand</th>
        <td>{{ method.timeMin }}-{{ method.timeMax }} Minuten</td>
      </tr>
      <tr *ngIf="method.timeComment">
        <th>Zeitaufwand (Kommentar)</th>
        <td>{{ method.timeComment }}</td>
      </tr>
      <tr *ngIf="method.rating">
        <th>Bewertung</th>
        <td>{{ method.rating }}</td>
      </tr>
      <tr *ngIf="method.experiences">
        <th>Erfahrungen der Profis</th>
        <td>{{ method.experiences }}</td>
      </tr>
      <tr *ngIf="method.variations">
        <th>Spielart</th>
        <td>{{ method.variations }}</td>
      </tr>
      <tr *ngIf="method.examples">
        <th>Beispiele</th>
        <td>{{ method.examples }}</td>
      </tr>
      <tr *ngIf="method.tips">
        <th>Tipps</th>
        <td>{{ method.tips }}</td>
      </tr>
      <tr *ngIf="method.visualization">
        <th>Visualisierung</th>
        <td>{{ method.visualization }}</td>
      </tr>
      <tr *ngIf="method.weblinks">
        <th>Weblinks</th>
        <td>{{ method.weblinks }}</td>
      </tr>
      <tr *ngIf="method.citations">
        <th>Referenzen</th>
        <td>{{ method.citations }}</td>
      </tr>
      <tr *ngIf="method.scope">
        <th>Zugriff</th>
        <td>{{ method.scope | scope }}</td>
      </tr>
      </tbody>
    </table>

    <app-comments [methodId]="method.id">
    </app-comments>
  </div>
</perfect-scrollbar>
