<div class="col-xs-12">
  <div class="btn-group">
    <button type="button" class="btn btn-default" (click)="onNavigateBack()">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button type="button" class="btn btn-primary" (click)="onEditButtonClicked()">
      <span class="glyphicon glyphicon-edit"></span>
      Bearbeiten
    </button>
  </div>
  <hr>
</div>
<div class="col-xs-12 scrollable-content" #detailContainer>
  <div class="media">
    <div class="media-left media-middle">
      <img class="media-object" height="80px"
           src="https://app.crownmakers.com/media/2013/12/19/47d5b24fb5fce429a64804ca1b782581-test.jpg">
    </div>
    <div class="media-body media-middle">
      <h3 class="media-heading">{{method?.title}}</h3>
      <rating *ngIf="method" [(ngModel)]="method.userRating" [max]="max"
              [titles]="['eins','zwei','drei']" style="font-size: 1.7em"></rating>
    </div>
    <div class="media-right media-middle">
      <button class="btn btn-default" (click)="toggleFavorite()">
        <span class="glyphicon"
              [ngClass]="{ 'glyphicon-heart': isFavorite, 'glyphicon-heart-empty': !isFavorite }"
              style="font-size: 1.5em"></span>
      </button>
    </div>
  </div>
  <div class="row">
    <carousel class="col-xs-8 col-xs-offset-2">
      <slide *ngFor="let image of method?.images">
        <img [src]="image" class="img-responsive" width="100%">
      </slide>
    </carousel>
  </div>
  <table class="table">
    <tbody>
    <tr>
      <th>Sozialform</th>
      <td>{{ method?.socialForm | socialform }}</td>
    </tr>
    <tr>
      <th>Phase</th>
      <td>{{ method?.phase | phase }}</td>
    </tr>
    <tr>
      <th>Unterphase</th>
      <td>{{ method?.subPhase | subphase }}</td>
    </tr>
    <tr>
      <th>Art der Veranstaltung</th>
      <td>{{ method?.courseType | courseType }}</td>
    </tr>
    <tr>
      <th>Gruppengröße (min)</th>
      <td>{{ method?.groupSizeMin }}</td>
    </tr>
    <tr>
      <th>Gruppengröße (max)</th>
      <td>{{ method?.groupSizeMax }}</td>
    </tr>
    <tr>
      <th>Ablauf</th>
      <td>{{ method?.proceeding }}</td>
    </tr>
    <tr>
      <th>Material</th>
      <td></td>
    </tr>
    <tr>
      <th>Zeitaufwand (min)</th>
      <td>{{ method?.timeMin }}</td>
    </tr>
    <tr>
      <th>Zeitaufwand (max)</th>
      <td>{{ method?.timeMax }}</td>
    </tr>
    <tr>
      <th>Erfahrungen der Profis</th>
      <td>{{ method?.experiences }}</td>
    </tr>
    <tr>
      <th>Spielart</th>
      <td>{{ method?.variations }}</td>
    </tr>
    <tr>
      <th>Tipps</th>
      <td>{{ method?.tips }}</td>
    </tr>
    <tr>
      <th>Visualisierung</th>
      <td>{{ method?.visualization }}</td>
    </tr>
    </tbody>
  </table>
</div>

