.btn {
  border-color: #43A047;
}

.glyphicon.glyphicon-edit,
.glyphicon.glyphicon-trash {
  color: white;
}

carousel {
  margin-top: 20px;
  margin-bottom: 20px;
}

.scrollable-content {
  // navbar-height = 50px
  // default-padding = 20px
  // button-height = 34px
  // default-padding * 2 + hr-height = 41px
  height: calc(100vh - 50px - 20px - 34px - 41px);
}

.detail-header {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.header-body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  flex: 8;
}

.range-input {
  flex: 6
}

.flex-group-type {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.flex-text-left {
  flex: 1;
  padding-right: 15px;
}

.flex-text-right {
  padding-left: 15px;
  flex: 1;
}

.comment-section {
  margin-top: 20px;
  margin-bottom: 100px;
}
