<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-left logo" (click)="onNavigationPressed()" [routerLink]="['methods']">
        <img alt="Brand" src="./assets/logo_mobidics.svg">
      </a>
    </div>
    <div class="navbar-collapse sliding-navbar"
         [collapse]="isMenuCollapsed"
         *ngIf="authService.isLoggedIn">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="navbar-text greeting">
            Hallo, {{getNameOfUser()}}
          </div>
        </li>
        <li>
          <a routerLinkActive="active" (click)="onNavigationPressed()" [routerLink]="['methods']"
             style="cursor: pointer">Startseite</a>
        </li>
        <li>
          <a routerLinkActive="active" (click)="onNavigationPressed()" [routerLink]="['account','me']"
             style="cursor: pointer">Mein Konto</a>
        </li>
        <li *ngIf="authService.getUserLevel() == 9">
          <a routerLinkActive="active" (click)="onNavigationPressed()" [routerLink]="['admin-center']"
             style="cursor: pointer">Admin Center</a>
        </li>
        <li>
          <a style="cursor: pointer" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
