@import "../../../variables";

@media screen and (max-width: $screen-size-xs) {
  .logo {
    margin-left: 15px;
  }
}

.navbar-default {
  background-color: $color-primary;
}

li > a {
  color: white;
}

.greeting {
  color: white;
  margin-left: 16px;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: $color-primary-accent;
  color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

button.navbar-toggle:hover, button.navbar-toggle:focus {
  background-color: $color-primary-accent;
}

.navbar-default .navbar-nav > li > a.active {
  background-color: $color-primary-accent;
  color: white;
}

.logo {
  display: block;
  height: auto;
  width: 200px;
  padding-top: 5px;
  margin-right: 15px;
}

@media screen and (max-width: $screen-size-xs) {
  .sliding-navbar {
    position: absolute;
    z-index: 4;
    background: $color-primary;
    width: 100vw;
    height: 100%;
    border-bottom: 1px solid black;

    &.collapse {
      display: block !important;
      transform: translate3D(-100%, 0, 0);
      transition: all 200ms;
    }

    &.collapse.in {
      transform: translate3D(0, 0, 0);
    }
  }
}
