<div class="container scrollable-content">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px">
          <span class="glyphicon glyphicon-user"></span>
          Mein Konto
        </h4>
        <button *ngIf="!editModeOn" (click)="onEditButtonClicked()"
                class="btn btn-primary pull-right"
                type="button">
          <span class="glyphicon glyphicon-edit"></span>
          Bearbeiten
        </button>
      </div>
      <div class="panel-body">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="form-horizontal">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-xs-offset-4 col-sm-offset-0">
                <div class="row">
                  <img class="img-responsive col-xs-12" alt="Profile Image" src="{{ profileImage }}">
                </div>
                <div class="row">
                  <button type="button"
                          class="btn btn-primary col-xs-8 col-xs-offset-2"
                          (click)="onUploadButtonClicked()"
                          *ngIf="editModeOn">
                    Profilbild hochladen...
                  </button>
                </div>
              </div>
              <div class="col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-0">
                <div class="form-group">
                  <label for="firstname" class="control-label col-xs-12 col-sm-4">Vorname</label>
                  <div class="col-xs-12 col-sm-8">
                    <input id="firstname"
                           type="text"
                           class="form-control"
                           formControlName="firstname"
                           [readonly]="!editModeOn">
                  </div>
                </div>
                <div class="form-group">
                  <label for="lastname" class="control-label col-xs-12 col-sm-4">Nachname</label>
                  <div class="col-xs-12 col-sm-8">
                    <input id="lastname"
                           type="text"
                           class="form-control"
                           formControlName="lastname"
                           [readonly]="!editModeOn">
                  </div>
                </div>
                <div class="form-group">
                  <label for="username" class="control-label col-xs-12 col-sm-4">Nutzername</label>
                  <div class="col-xs-12 col-sm-8">
                    <input id="username"
                           type="text"
                           class="form-control"
                           formControlName="username"
                           [readonly]="!editModeOn">
                  </div>
                </div>
                <div class="form-group">
                  <label for="email" class="control-label col-xs-12 col-sm-4">E-Mail Adresse</label>
                  <div class="col-xs-12 col-sm-8">
                    <input id="email"
                           type="email"
                           class="form-control"
                           formControlName="email"
                           [readonly]="!editModeOn">
                  </div>
                </div>
                <div class="form-group">
                  <label for="languages" class="control-label col-xs-12 col-sm-4">Sprachen</label>
                  <div class="col-xs-12 col-sm-8">
                    <input type="text"
                           class="form-control"
                           [readonly]="!editModeOn"
                           id="languages"
                           formControlName="languages">
                  </div>
                </div>
                <div class="form-group">
                  <label for="gender" class="control-label col-xs-12 col-sm-4">Geschlecht</label>
                  <div class="col-xs-12 col-sm-8">
                    <input type="text"
                           class="form-control"
                           [readonly]="!editModeOn"
                           id="gender"
                           formControlName="gender">
                  </div>
                </div>
                <div class="form-group">
                  <label for="userStatus" class="control-label col-xs-12 col-sm-4">Nutzerstatus</label>
                  <div class="col-xs-12 col-sm-8">
                    <input type="text"
                           class="form-control"
                           [readonly]="!editModeOn"
                           id="userStatus"
                           formControlName="userStatus">
                  </div>
                </div>
                <div class="form-group">
                  <label for="userType" class="control-label col-xs-12 col-sm-4">Nutzertyp</label>
                  <div class="col-xs-12 col-sm-8">
                    <input type="text"
                           class="form-control"
                           [readonly]="!editModeOn"
                           id="userType"
                           formControlName="userType">
                  </div>
                </div>
                <div class="form-group">
                  <label for="university" class="control-label col-xs-12 col-sm-4">Universität</label>
                  <div class="col-xs-12 col-sm-8">
                    <input type="text"
                           class="form-control"
                           [readonly]="!editModeOn"
                           id="university"
                           formControlName="university">
                  </div>
                </div>
                <div class="form-group">
                  <label for="faculty" class="control-label col-xs-12 col-sm-4">Fakultät</label>
                  <div class="col-xs-12 col-sm-8">
                    <input type="text"
                           class="form-control"
                           [readonly]="!editModeOn"
                           id="faculty"
                           formControlName="faculty">
                  </div>
                </div>
                <div class="form-group">
                  <label for="experience" class="control-label col-xs-12 col-sm-4">Lehrerfahrung</label>
                  <div class="col-xs-12 col-sm-8">
                    <input type="text"
                           class="form-control"
                           [readonly]="!editModeOn"
                           id="experience"
                           formControlName="experience">
                  </div>
                </div>
                <div class="form-group" *ngIf="editModeOn">
                  <button type="submit"
                          class="btn btn-success col-xs-offset-1"
                          [disabled]="!userForm.valid">
                    Speichern
                  </button>
                  <a (click)="onAbortEdit()" class="btn btn-danger">
                    Abbrechen
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
