.glyphicon.glyphicon-home {
  color: white;
}

.glyphicon.glyphicon-edit {
  color: white;
}

.glyphicon.glyphicon-user {
  color: white;
}

.flex-body {
  display: flex;
  flex-flow: column nowrap;
}

.flex-child {
  align-self: center;
}
