@import "../../variables";

.navbar-default {
  background-color: $color-primary;
}

.navbar-brand {
  color: white;
}

li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: $color-primary-accent;
  color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

button.navbar-toggle:hover, button.navbar-toggle:focus {
  background-color: $color-primary-accent;
}

.navbar-default .navbar-nav > li > a.active {
  background-color: $color-primary-accent;
  color: white;
}
