.navbar-default {
  background-color: #007534;
}

.navbar-brand {
  color: white;
}

li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #083f0b;
  color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

button.navbar-toggle:hover, button.navbar-toggle:focus {
  background-color: #083f0b;
}

.navbar-default .navbar-nav > li > a.active {
  background-color: #083f0b;
  color: white;
}
