<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['methods']">
        MobiDics
      </a>
    </div>
    <div class="navbar-collapse"
         [collapse]="isMenuCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLinkActive="active" [routerLink]="['methods']" style="cursor: pointer">Startseite</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="['account']" style="cursor: pointer">Mein Account</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="['admin-center']" style="cursor: pointer">Admin Center</a>
        </li>
        <li *ngIf="userIsLoggedIn">
          <a style="cursor: pointer" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
