<perfect-scrollbar class="scrollable-content">
  <div class="row" [@fadeInOut]="'in'">
    <div class="col-xs-12">
      <form [formGroup]="methodForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!methodForm.valid">Speichern
            </button>
            <a class="btn btn-danger" (click)="onCancel()">Abbrechen</a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h4>
              Vorschaubild
            </h4>
            <perfect-scrollbar class="preview-container" *ngIf="thumbnailSrc">
              <div class="preview">
                <img class="img" [src]="thumbnailSrc">
                <button type="button" class="btn btn-danger btn-circle delete" (click)="onRemoveThumbnail()">
                  <i class="glyphicon glyphicon-remove"></i>
                </button>
              </div>
            </perfect-scrollbar>
            <alert type="danger"
                   *ngIf="thumbnailErrorMessage"
                   (onClose)="onCloseThumbnailErrorMessage()"
                   [dismissible]="true">
              {{ thumbnailErrorMessage }}
            </alert>
            <label class="btn btn-default"
                   for="method-thumbnail-selector">
              <input type="file" imageUpload
                     id="method-thumbnail-selector"
                     (imageSelected)="onThumbnailSelected($event)"
                     [resizeOptions]="resizeOptions"
                     [allowedExtensions]="allowedImageExtensions"
                     style="display:none"
                     #thumbnailUploadButton>
              Vorschaubild auswählen...
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h4>
              Methodenbilder
            </h4>
            <perfect-scrollbar [config]="imagePreviewScrollbarConfig" class="preview-container"
                               *ngIf="uploadedImages.length != 0">
              <div class="preview" *ngFor="let imageUrl of uploadedImages; let i = index">
                <img class="img" [src]="imageUrl">
                <button type="button" class="btn btn-danger btn-circle delete" (click)="onRemoveImage(i)">
                  <i class="glyphicon glyphicon-remove"></i>
                </button>
              </div>
            </perfect-scrollbar>
            <alert type="danger"
                   *ngIf="imageUploadErrorMessage"
                   (onClose)="onCloseImageUploadErrorMessage()"
                   [dismissible]="true">
              {{ imageUploadErrorMessage }}
            </alert>
            <label class="btn btn-default"
                   for="method-image-selector">
              <input type="file" imageUpload
                     id="method-image-selector"
                     [allowedExtensions]="allowedImageExtensions"
                     (imageSelected)="onImageSelected($event)"
                     style="display:none"
                     #imageUploadButton>
              Bild auswählen...
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="language-selector">
              <h4>Languages</h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="title">Name der Methode</label>
              <input
                type="text"
                id="title"
                class="form-control"
                formControlName="title"
                #title>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="alternative-titles">Alternativnamen</label>
              <input
                type="text"
                id="alternative-titles"
                class="form-control"
                formControlName="alternativeTitles"
                #alternativeTitles>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label>Sozialform</label>
            <div *ngFor="let socialFormOption of socialFormOptions">
              <label>
                <input type="checkbox"
                       [(ngModel)]="socialFormOption.checked"
                       [ngModelOptions]="{standalone: true}">
                {{ socialFormOption.name }}
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label>Phase</label>
              <div *ngFor="let phaseOption of phaseOptions; let i = index">
                <label>
                  <input type="checkbox"
                         [(ngModel)]="phaseOption.checked"
                         (change)="onPhaseOptionsChanged(i)"
                         [ngModelOptions]="{standalone: true}">
                  {{ phaseOption.name }}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label>Unterphase</label>
              <div *ngFor="let phaseOption of phaseOptions; let i = index">
                <div *ngIf="phaseOption.checked" [@pushInOut]="phaseOption.checked">
                  <label>{{phaseOption.name}}</label>
                  <div *ngFor="let subphaseOption of subphaseOptions[i]">
                    <label>
                      <input type="checkbox"
                             [(ngModel)]="subphaseOption.checked"
                             [ngModelOptions]="{standalone: true}">
                      {{ subphaseOption.name }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="result">Ergebnis</label>
              <input
                type="text"
                id="result"
                class="form-control"
                formControlName="result"
                #result>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="group-type">Teilnehmerzusammensetzung</label>
              <input
                type="text"
                id="group-type"
                class="form-control"
                formControlName="groupType"
                #groupType>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label>Art der Veranstaltung</label>
              <div *ngFor="let courseTypeOption of courseTypeOptions; let i = index">
                <label>
                  <input type="checkbox"
                         [(ngModel)]="courseTypeOption.checked"
                         [ngModelOptions]="{standalone: true}">
                  {{ courseTypeOption.name }}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="group-size-min">Gruppengröße (min)</label>
              <input
                type="text"
                id="group-size-min"
                class="form-control"
                formControlName="groupSizeMin"
                #groupSizeMin>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="group-size-max">Gruppengröße (max)</label>
              <input
                type="text"
                id="group-size-max"
                class="form-control"
                formControlName="groupSizeMax"
                #groupSizeMax>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="group-size-comment">Gruppengröße (Kommentar)</label>
              <input
                type="text"
                id="group-size-comment"
                class="form-control"
                formControlName="groupSizeComment"
                #groupSizeComment>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="proceeding">Ablauf</label>
              <input
                type="text"
                id="proceeding"
                class="form-control"
                formControlName="proceeding"
                #proceeding>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="phase-proceeding">Phasenspezifischer Ablauf</label>
              <input
                type="text"
                id="phase-proceeding"
                class="form-control"
                formControlName="phaseProceeding"
                #phaseProceeding>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="seating">Bestuhlung</label>
              <input
                type="text"
                id="seating"
                class="form-control"
                formControlName="seating"
                #seating>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="material">Material</label>
              <input
                type="text"
                id="material"
                class="form-control"
                formControlName="material"
                #material>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="method-material">Methodenspezifisches Material</label>
              <input
                type="text"
                id="method-material"
                class="form-control"
                formControlName="methodMaterial"
                #methodMaterial>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="time-min">Zeitaufwand (min)</label>
              <input
                type="text"
                id="time-min"
                class="form-control"
                formControlName="timeMin"
                #timeMin>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="time-max">Zeitaufwand (max)</label>
              <input
                type="text"
                id="time-max"
                class="form-control"
                formControlName="timeMax"
                #timeMax>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="time-comment">Zeitaufwand (Kommentar)</label>
              <input
                type="text"
                id="time-comment"
                class="form-control"
                formControlName="timeComment"
                #timeComment>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="rating">Bewertung</label>
              <input
                type="text"
                id="rating"
                class="form-control"
                formControlName="rating"
                #rating>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="experiences">Erfahrungen der Profis</label>
              <input
                type="text"
                id="experiences"
                class="form-control"
                formControlName="experiences"
                #experiences>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="variations">Spielart</label>
              <input
                type="text"
                id="variations"
                class="form-control"
                formControlName="variations"
                #variations>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="examples">Beispiele</label>
              <input
                type="text"
                id="examples"
                class="form-control"
                formControlName="examples"
                #examples>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="tips">Tipps</label>
              <input
                type="text"
                id="tips"
                class="form-control"
                formControlName="tips"
                #tips>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="visualization">Visualisierung</label>
              <input
                type="text"
                id="visualization"
                class="form-control"
                formControlName="visualization"
                #visualization>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="weblinks">Weblinks</label>
              <input
                type="text"
                id="weblinks"
                class="form-control"
                formControlName="weblinks"
                #weblinks>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="citations">Referenzen</label>
              <input
                type="text"
                id="citations"
                class="form-control"
                formControlName="citations"
                #citations>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="scope">Zugriff</label>
              <input
                type="text"
                id="scope"
                class="form-control"
                formControlName="scope"
                #scope>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</perfect-scrollbar>

