<perfect-scrollbar class="scrollable-content">
  <div [@fadeInOut]="'in'">
    <form [formGroup]="methodForm" (ngSubmit)="onSubmit()">
      <div>
        <button
          class="btn btn-success"
          [disabled]="!methodForm.valid">Speichern
        </button>
        <a class="btn btn-danger" (click)="onCancel()">Abbrechen</a>
      </div>
      <hr>
      <div>
        <h4>
          Vorschaubild
        </h4>
        <perfect-scrollbar class="preview-container" *ngIf="thumbnailSrc">
          <div class="preview">
            <img class="img" [src]="thumbnailSrc">
            <button type="button" class="btn btn-danger btn-circle delete" (click)="onRemoveThumbnail()">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </div>
        </perfect-scrollbar>
        <alert type="danger"
               *ngIf="thumbnailErrorMessage"
               (onClose)="onCloseThumbnailErrorMessage()"
               [dismissible]="true">
          {{ thumbnailErrorMessage }}
        </alert>
        <label class="btn btn-default"
               for="method-thumbnail-selector">
          <input type="file" imageUpload
                 id="method-thumbnail-selector"
                 (imageSelected)="onThumbnailSelected($event)"
                 [resizeOptions]="resizeOptions"
                 [allowedExtensions]="allowedImageExtensions"
                 style="display:none"
                 #thumbnailUploadButton>
          Vorschaubild auswählen...
        </label>
      </div>
      <div>
        <h4>
          Methodenbilder
        </h4>
        <perfect-scrollbar [config]="imagePreviewScrollbarConfig" class="preview-container"
                           *ngIf="uploadedImages.length != 0">
          <div class="preview" *ngFor="let imageUrl of uploadedImages; let i = index">
            <img class="img" [src]="imageUrl">
            <button type="button" class="btn btn-danger btn-circle delete" (click)="onRemoveImage(i)">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </div>
        </perfect-scrollbar>
        <alert type="danger"
               *ngIf="imageUploadErrorMessage"
               (onClose)="onCloseImageUploadErrorMessage()"
               [dismissible]="true">
          {{ imageUploadErrorMessage }}
        </alert>
        <label class="btn btn-default"
               for="method-image-selector">
          <input type="file" imageUpload
                 id="method-image-selector"
                 [allowedExtensions]="allowedImageExtensions"
                 (imageSelected)="onImageSelected($event)"
                 style="display:none"
                 #imageUploadButton>
          Bild auswählen...
        </label>
      </div>
      <div>
        <div class="language-selector">
          <h4>Sprache</h4>
        </div>
      </div>
      <div class="form-group">
        <label for="title">Name der Methode</label>
        <input
          type="text"
          id="title"
          class="form-control"
          formControlName="title"
          #title>
      </div>
      <div class="form-group">
        <label for="alternative-titles">Alternativnamen</label>
        <input
          type="text"
          id="alternative-titles"
          class="form-control"
          formControlName="alternativeTitles"
          #alternativeTitles>
      </div>
      <div>
        <label>Sozialform</label>
        <div class="checkbox-options">
          <app-checkbox-options [options]="socialForms"
                                [preSelection]="selectedSocialForms"
                                (selectionChanged)="onSocialFormSelect($event)">
          </app-checkbox-options>
        </div>
      </div>
      <div>
        <label>Art der Veranstaltung</label>
        <div class="checkbox-options">
          <app-checkbox-options [options]="courseTypes"
                                [preSelection]="selectedCourseTypes"
                                (selectionChanged)="onCourseTypeSelect($event)"></app-checkbox-options>
        </div>
      </div>
      <div>
        <label>Phase(n)</label>
        <div class="checkbox-options">
          <app-checkbox-options [options]="phases"
                                [preSelection]="selectedPhases"
                                (selectionChanged)="onPhaseSelect($event)">
          </app-checkbox-options>
        </div>
      </div>
      <div *ngIf="selectedPhases.length != 0">
        <label>Unterphase(n)</label>
        <div *ngFor="let subphasesForPhase of subphases; let i = index">
          <div class="checkbox-options"
               *ngIf="selectedPhases.includes(i)"
               [@pushInOut]="selectedPhases.includes(i)">
            <label>{{phases[i].label}}</label>
            <app-checkbox-options [options]="subphasesForPhase"
                                  [preSelection]="selectedSubphases[i]"
                                  (selectionChanged)="onSubphaseSelect($event)">
            </app-checkbox-options>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="result">Ergebnis</label>
        <input
          type="text"
          id="result"
          class="form-control"
          formControlName="result"
          #result>
      </div>
      <div class="form-group">
        <label for="group-type">Teilnehmerzusammensetzung</label>
        <input
          type="text"
          id="group-type"
          class="form-control"
          formControlName="groupType"
          #groupType>
      </div>
      <div class="form-group">
        <label for="group-size-min">Gruppengröße (min)</label>
        <input
          type="text"
          id="group-size-min"
          class="form-control"
          formControlName="groupSizeMin"
          #groupSizeMin>
      </div>
      <div class="form-group">
        <label for="group-size-max">Gruppengröße (max)</label>
        <input
          type="text"
          id="group-size-max"
          class="form-control"
          formControlName="groupSizeMax"
          #groupSizeMax>
      </div>
      <div class="form-group">
        <label for="group-size-comment">Gruppengröße (Kommentar)</label>
        <input
          type="text"
          id="group-size-comment"
          class="form-control"
          formControlName="groupSizeComment"
          #groupSizeComment>
      </div>
      <div class="form-group">
        <label for="proceeding">Ablauf</label>
        <input
          type="text"
          id="proceeding"
          class="form-control"
          formControlName="proceeding"
          #proceeding>
      </div>
      <div class="form-group">
        <label for="phase-proceeding">Phasenspezifischer Ablauf</label>
        <input
          type="text"
          id="phase-proceeding"
          class="form-control"
          formControlName="phaseProceeding"
          #phaseProceeding>
      </div>
      <div class="form-group">
        <label for="seating">Bestuhlung</label>
        <input
          type="text"
          id="seating"
          class="form-control"
          formControlName="seating"
          #seating>
      </div>
      <div class="form-group">
        <label for="material">Material</label>
        <input
          type="text"
          id="material"
          class="form-control"
          formControlName="material"
          #material>
      </div>
      <div class="form-group">
        <label for="method-material">Methodenspezifisches Material</label>
        <input
          type="text"
          id="method-material"
          class="form-control"
          formControlName="methodMaterial"
          #methodMaterial>
      </div>
      <div class="form-group">
        <label for="time-min">Zeitaufwand (min)</label>
        <input
          type="text"
          id="time-min"
          class="form-control"
          formControlName="timeMin"
          #timeMin>
      </div>
      <div class="form-group">
        <label for="time-max">Zeitaufwand (max)</label>
        <input
          type="text"
          id="time-max"
          class="form-control"
          formControlName="timeMax"
          #timeMax>
      </div>
      <div class="form-group">
        <label for="time-comment">Zeitaufwand (Kommentar)</label>
        <input
          type="text"
          id="time-comment"
          class="form-control"
          formControlName="timeComment"
          #timeComment>
      </div>
      <div class="form-group">
        <label for="rating">Bewertung</label>
        <input
          type="text"
          id="rating"
          class="form-control"
          formControlName="rating"
          #rating>
      </div>
      <div class="form-group">
        <label for="experiences">Erfahrungen der Profis</label>
        <input
          type="text"
          id="experiences"
          class="form-control"
          formControlName="experiences"
          #experiences>
      </div>
      <div class="form-group">
        <label for="variations">Spielart</label>
        <input
          type="text"
          id="variations"
          class="form-control"
          formControlName="variations"
          #variations>
      </div>
      <div class="form-group">
        <label for="examples">Beispiele</label>
        <input
          type="text"
          id="examples"
          class="form-control"
          formControlName="examples"
          #examples>
      </div>
      <div class="form-group">
        <label for="tips">Tipps</label>
        <input
          type="text"
          id="tips"
          class="form-control"
          formControlName="tips"
          #tips>
      </div>
      <div class="form-group">
        <label for="visualization">Visualisierung</label>
        <input
          type="text"
          id="visualization"
          class="form-control"
          formControlName="visualization"
          #visualization>
      </div>
      <div class="form-group">
        <label for="weblinks">Weblinks</label>
        <input
          type="text"
          id="weblinks"
          class="form-control"
          formControlName="weblinks"
          #weblinks>
      </div>
      <div class="form-group">
        <label for="citations">Referenzen</label>
        <input
          type="text"
          id="citations"
          class="form-control"
          formControlName="citations"
          #citations>
      </div>
      <div class="form-group">
        <label for="scope">Zugriff</label>
        <input
          type="text"
          id="scope"
          class="form-control"
          formControlName="scope"
          #scope>
      </div>
    </form>
  </div>
</perfect-scrollbar>

