<perfect-scrollbar class="side-bar scrollable-content">

  <div class="col-xs-12">
    <button class="btn btn-default side-button" type="button">
      <span class="glyphicon glyphicon-heart"></span>
      <strong>Meine Favoriten</strong>
    </button>
    <button class="btn btn-default side-button" type="button">
      <span class="glyphicon glyphicon-star"></span>
      <strong>Am besten bewertet</strong>
    </button>
    <button class="btn btn-default side-button" type="button">
      <span class="glyphicon glyphicon-calendar"></span>
      <strong>Neueste</strong>
    </button>
  </div>

  <accordion>
    <accordion-group panelClass="customClass" #group1>
      <div accordion-heading>
        <strong>Veranstaltungsarten</strong>
        <span class="pull-right float-xs-right glyphicon"
              [ngClass]="{'glyphicon-collapse-up': group1?.isOpen, 'glyphicon-collapse-down': !group1?.isOpen}"></span>
      </div>
    </accordion-group>
    <accordion-group panelClass="customClass" #group2>
      <div accordion-heading>
        <strong>Gruppengröße</strong>
        <span class="pull-right float-xs-right glyphicon"
              [ngClass]="{'glyphicon-collapse-up': group2?.isOpen, 'glyphicon-collapse-down': !group2?.isOpen}"></span>
      </div>
    </accordion-group>
    <accordion-group panelClass="customClass" #group3>
      <div accordion-heading>
        <strong>Zeitaufwand (Minuten)</strong>
        <span class="pull-right float-xs-right glyphicon"
              [ngClass]="{'glyphicon-collapse-up': group3?.isOpen, 'glyphicon-collapse-down': !group3?.isOpen}"></span>
      </div>
    </accordion-group>
    <accordion-group panelClass="customClass" #group4>
      <div accordion-heading>
        <strong>Gruppen-Zusammensetzung</strong>
        <span class="pull-right float-xs-right glyphicon"
              [ngClass]="{'glyphicon-collapse-up': group4?.isOpen, 'glyphicon-collapse-down': !group4?.isOpen}"></span>
      </div>
    </accordion-group>
    <accordion-group panelClass="customClass" #group5>
      <div accordion-heading>
        <strong>Mindestbewertung</strong>
        <span class="pull-right float-xs-right glyphicon"
              [ngClass]="{'glyphicon-collapse-up': group5?.isOpen, 'glyphicon-collapse-down': !group5?.isOpen}"></span>
      </div>
    </accordion-group>
    <accordion-group panelClass="customClass" #group6>
      <div accordion-heading>
        <strong>Aviva-Phase</strong>
        <span class="pull-right float-xs-right glyphicon"
              [ngClass]="{'glyphicon-collapse-up': group6?.isOpen, 'glyphicon-collapse-down': !group6?.isOpen}"></span>
      </div>
    </accordion-group>
    <accordion-group panelClass="customClass" #group7>
      <div accordion-heading>
        <strong>Sozialform</strong>
        <span class="pull-right float-xs-right glyphicon"
              [ngClass]="{'glyphicon-collapse-up': group7?.isOpen, 'glyphicon-collapse-down': !group7?.isOpen}"></span>
      </div>
    </accordion-group>
    <accordion-group panelClass="customClass" #group8>
      <div accordion-heading>
        <strong>Materialien</strong>
        <span class="pull-right float-xs-right glyphicon"
              [ngClass]="{'glyphicon-collapse-up': group8?.isOpen, 'glyphicon-collapse-down': !group8?.isOpen}"></span>
      </div>
    </accordion-group>
    <accordion-group panelClass="customClass" #group9>
      <div accordion-heading>
        <strong>Raumanforderungen</strong>
        <span class="pull-right float-xs-right glyphicon"
              [ngClass]="{'glyphicon-collapse-up': group9?.isOpen, 'glyphicon-collapse-down': !group9?.isOpen}"></span>
      </div>
    </accordion-group>
  </accordion>

</perfect-scrollbar>
