<div class="container scrollable-content">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Anmelden</h4>
      </div>
      <div class="panel-body">
        <form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Nutzername</label>
            <input [(ngModel)]="loginForm.username"
                   id="username"
                   name="username"
                   type="text"
                   class="form-control"
                   #username="ngModel"
                   required>
            <div *ngIf="f.submitted && !username.valid" class="help-block">Bitte Nutzername eingeben!
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Passwort</label>
            <input [(ngModel)]="loginForm.password"
                   id="password"
                   name="password"
                   type="password"
                   class="form-control"
                   #password="ngModel"
                   required>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Bitte Passwort eingeben!</div>
          </div>
          <div class="checkbox">
            <label><input
              [(ngModel)]="loginForm.shouldPersist"
              type="checkbox"
              name="persistCheckbox">
              Angemeldet bleiben
            </label>
          </div>
          <alert type="danger" *ngIf="errorMessage" dismissible="true">{{ errorMessage }}</alert>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary"
                    type="submit">
              Anmelden
            </button>
            <img *ngIf="loading"
                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
