<div class="container">
  <div class="form-group col-xs-4 col-xs-offset-4">
      <label for="userId">Username</label>
      <input [(ngModel)]="userLogin.userId"
             id="userId"
             type="text"
             class="form-control">

      <label for="password">Password</label>
      <input [(ngModel)]="userLogin.password"
             id="password"
             type="password" class="form-control">
      <span>{{errorMessage}}</span>
      <button (click)="login()"
              class="btn btn-default"
              type="submit" name="action">Login
      </button>
  </div>
</div>
