<div class="comment-list-item row"
     [ngClass]="{'response-comment': comment.inResponseTo}">
  <div class="col-xs-12">
    <a style="font-size: 1.1em; font-weight:bold" (click)="onUsernameClicked()">{{comment.username}}</a>,
    vor {{(comment.creationDate / 1000) | timeSince}}
    <div class="delete-button pull-right"
         *ngIf="comment.username == authService.loggedInUser.username || authService.loggedInUser.userLevel == 9"
         (click)="staticModal.show()">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
  </div>
  <div class="col-xs-12 comment-text">
    {{comment.text}}
  </div>
  <div class="col-xs-12">
    <a (click)="onRespondButtonClicked()">
      Antworten
    </a>
    |
    <button type="button" class="btn btn-default" (click)="onThumbsUpButtonClicked()"
            [disabled]="comment.username == authService.loggedInUser.username">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    ({{comment.thumbsUp}})
    |
    <button type="button" class="btn btn-default" (click)="onThumbsDownButtonClicked()"
            [disabled]="comment.username == authService.loggedInUser.username">
      <span class="glyphicon glyphicon-thumbs-down"></span>
    </button>
    ({{comment.thumbsDown}})
  </div>
</div>
<div class="response-form" *ngIf="respondMode" [@pushInOut]="respondMode">
  <app-comment-form [inResponseTo]="comment.id"
                    [rootCommentId]="comment.rootCommentId?comment.rootCommentId : comment.id"
                    (aborted)="onAbort()">
  </app-comment-form>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Kommentar wirklich löschen?</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-success" (click)="onAcceptDeletion()">Ja</button>
        <button type="button" class="btn btn-danger" (click)="staticModal.hide()">Nein</button>
      </div>
    </div>
  </div>
</div>
