<form #accountForm="ngForm" (ngSubmit)="onSubmit()">
  {{diagnostics}}
  <div class="form-group" *ngIf="!newAccount">
    <div class="image-section">
      <div class="preview">
        <img class="img"
             [src]="(user.profileImage) || (user.gender == 0? 'assets/avatar_male.png': 'assets/avatar_female.png')">
        <button type="button" class="btn btn-danger btn-circle delete"
                (click)="onRemoveProfileImage()"
                *ngIf="user.profileImage">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </div>
      <label class="btn btn-primary"
             for="profile-image-selector">
        <input id="profile-image-selector" type="file" style="display:none;"
               imageUpload [resizeOptions]="resizeOptions" [allowedExtensions]="allowedImageExtensions"
               (imageSelected)="onImageSelected($event)"
               name="profileImage"
               #imageUploadButton>
        Hochladen...
      </label>
    </div>
  </div>
  <div class="form-group" *ngIf="newAccount">
    <label for="username">Nutzername</label>
    <input id="username" class="form-control"
           [(ngModel)]="user.username" name="username"
           required
           minlength="2">
  </div>
  <div class="form-group">
    <div class="password-section" *ngIf="!newAccount">
      <label for="passwordSection">Passwort</label>
      <button class="btn" type="button" id="passwordSection"
              [ngClass]="{'btn-default': !changePassword, 'btn-danger': changePassword}"
              (click)="changePassword=!changePassword;">
        {{!changePassword? 'Password ändern': 'Abbrechen'}}
      </button>
      <div class="password-change-section" *ngIf="changePassword || newAccount">
        <label for="passwordEdit">Neues Passwort eingeben</label>
        <input id="passwordEdit" type="password" class="form-control"
               [(ngModel)]="user.password" name="password"
               required>
        <label for="passwordCheck">Passwort wiederholen</label>
        <input id="passwordCheck" type="password" class="form-control"
               [(ngModel)]="passwordCheck" name="passwordCheck"
               required>
      </div>
    </div>
    <div *ngIf="newAccount">
      <label for="passwordNew">Passwort</label>
      <input id="passwordNew" type="password" class="form-control"
             [(ngModel)]="user.password" name="password"
             required
             minlength="4">
    </div>
  </div>
  <div class="form-group">
    <label for="firstname">Vorname</label>
    <input id="firstname" class="form-control"
           [(ngModel)]="user.firstname" name="firstname"
           required>
  </div>
  <div class="form-group">
    <label for="lastname">Nachname</label>
    <input id="lastname" class="form-control"
           [(ngModel)]="user.lastname" name="lastname"
           required>
  </div>
  <div class="form-group">
    <label for="email">E-Mail Adresse</label>
    <input id="email" type="email" class="form-control"
           [(ngModel)]="user.email" name="email"
           required
           email>
  </div>
  <div class="form-group">
    <label for="language">Sprache</label>
    <select class="form-control" id="language"
            [(ngModel)]="user.language" name="language"
            required>
      <option *ngFor="let language of languages" [value]="language.value">{{language.label}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="gender">Geschlecht</label>
    <select class="form-control" id="gender"
            [(ngModel)]="user.gender" name="gender"
            required>
      <option *ngFor="let gender of genders" [value]="gender.value">{{gender.label}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="userStatus">Titel</label>
    <select class="form-control" id="userStatus"
            [(ngModel)]="user.userStatus" name="userStatus">
      <option *ngFor="let userStatus of userStatuses" [value]="userStatus.value">{{userStatus.label}}</option>
    </select>
    <input *ngIf="user && user.userStatus == 99" class="form-control" id="userStatusOther" title="Anderes"
           [(ngModel)]="user.userStatusOther" name="userStatusOther"
           required>
  </div>
  <div class="form-group">
    <label for="usertype">Anstellung</label>
    <select class="form-control" id="usertype"
            [(ngModel)]="user.userType" name="usertype">
      <option *ngFor="let userType of userTypes" [value]="userType.value">{{userType.label}}</option>
    </select>
    <input *ngIf="user && user.userType == 99" class="form-control" id="userTypeOther" title="Anderes"
           [(ngModel)]="user.userTypeOther" name="userTypeOther"
           required>
  </div>
  <div class="form-group">
    <label for="university">Universität</label>
    <select class="form-control" id="university"
            [(ngModel)]="user.university" name="university"
            required>
      <option *ngFor="let university of universities" [ngValue]="university">{{university.name}}
      </option>
    </select>
  </div>
  <div class="form-group" *ngIf="!newAccount">
    <label for="faculty">Fakultät</label>
    <select class="form-control" id="faculty"
            [(ngModel)]="user.faculty" name="faculty">
      <option *ngFor="let faculty of faculties" [ngValue]="faculty">{{faculty.name}}</option>
    </select>
  </div>
  <div class="form-group" *ngIf="!newAccount">
    <label for="experience">Lehrerfahrung</label>
    <div class="flex-split">
      <input class="form-control flex-input" id="experience"
             [(ngModel)]="user.experience" name="experience">
      <div class="flex-fixed-text">Jahre</div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-success"
            [disabled]="!accountForm.valid">
      {{newAccount? 'Registrieren': 'Speichern'}}
    </button>
    <button type="button" (click)="onAbortEdit()" class="btn btn-danger">
      Abbrechen
    </button>
  </div>
</form>

