<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      Inhalt der Benutzertabelle
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Benutzername</th>
            <th>Grad</th>
            <th>E-Mail</th>
            <th>Zuletzt aktiv</th>
            <th>Freigabe</th>
            <th>Aktionen</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users; let i = index">
            <td>
              {{user.username}}
            </td>
            <td>
              {{user.userLevel}}
            </td>
            <td>
              {{user.email}}
            </td>
            <td>
              {{user.lastActionDate | timeSince}}
            </td>
            <td>
              {{user.approved? 'Freigegeben': 'Nicht Freigegeben'}}
            </td>
            <td *ngIf="user.username !== authService.loggedInUser.username">
              <a (click)="onDelete(user)">Löschen</a>
              <a (click)="onDisapprove(user)" *ngIf="user.approved">Sperren</a>
              <a (click)="onApprove(user)" *ngIf="!user.approved">Freigeben</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Nutzerrechte verwalten
    </div>
    <div class="panel-body">
      Body 1
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Inhalt der Tabelle der gesperrten Benutzer
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>

        </thead>
        <tbody>

        </tbody>
      </table>
      <button type="button" class="btn btn-danger">Gesperrte Benutzer löschen</button>
    </div>
  </div>

</div>
