<perfect-scrollbar class="side-bar scrollable-content">
  <div class="sidebar-button" (click)="onFavoriteButtonClicked()">
    <span class="glyphicon glyphicon-heart"></span>
    <strong>Meine Favoriten</strong>
  </div>

  <div class="sidebar-button" (click)="sortMethodsRating()">
    <span class="glyphicon glyphicon-star"></span>
    <strong>Am besten bewertet</strong>
  </div>

  <div class="sidebar-button" (click)="sortMethodsDate()">
    <span class="glyphicon glyphicon-calendar"></span>
    <strong>Neueste</strong>
  </div>
  
  <div class="filters">
    <app-collapsible-panel title="Veranstaltungsarten">
      <app-checkbox-options [options]="courseTypes"
                            (selectionChanged)="onCourseTypeSelected($event)">
      </app-checkbox-options>
    </app-collapsible-panel>
    <app-collapsible-panel title="Maximaler Zeitaufwand">
      <app-range-input [min]="minMaxes.timeMin" [max]="minMaxes.timeMax" unit="Minuten"
                       inputTitle="Zeitaufwand auswählen"
                       (selected)="onMaxTimeSelected($event)">
      </app-range-input>
    </app-collapsible-panel>
    <app-collapsible-panel title="Maximale Gruppengröße">
      <app-range-input [min]="minMaxes.minGroupSize" [max]="minMaxes.maxGroupSize" unit="Teilnehmer"
                       inputTitle="Maximale Gruppengröße auswhählen"
                       (selected)="onMaxGroupSizeSelected($event)">
      </app-range-input>
    </app-collapsible-panel>
    <app-collapsible-panel title="Gruppen-Zusammensetzung">
      <app-range-input min="0" max="10"
                       inputTitle="Gruppen-Zusammensetzung auswählen"
                       step="1"
                       minLabel="homogen" maxLabel="heterogen"
                       (selected)="onGroupTypeSelected($event)">
      </app-range-input>
    </app-collapsible-panel>
    <app-collapsible-panel title="Mindestbewertung">
      <div class="rating-filter">
        <div class="rating-option" *ngFor="let rating of [1,2,3,4,5]" (click)="onMinRatingSelected(rating)">
          <rating [ngModel]="rating"
                  [max]="5"
                  [readonly]="true"
                  style="font-size: 1.2em">
          </rating>
          <div class="rating-option-text">
            ({{rating}} Sterne)
          </div>
        </div>
      </div>
    </app-collapsible-panel>
    <app-collapsible-panel title="Aviva-Phase">
      <div class="phase-selections">
        <strong>Phase(n)</strong>
        <div class="selections-body">
          <app-checkbox-options [options]="phases"
                                (selectionChanged)="onPhaseSelected($event)">
          </app-checkbox-options>
        </div>
        <strong>Unterphase(n)</strong>
        <div class="selections-body">
          <div *ngFor="let subphasesForPhase of subphases">
            <app-checkbox-options
              [options]="subphasesForPhase"
              (selectionChanged)="onSubphaseSelected($event)">
            </app-checkbox-options>
          </div>
        </div>
      </div>
    </app-collapsible-panel>
    <app-collapsible-panel title="Sozialform">
      <app-checkbox-options [options]="socialForms"
                            (selectionChanged)="onSocialFormSelected($event)">
      </app-checkbox-options>
    </app-collapsible-panel>
    <app-collapsible-panel title="Materialien">
      Work in Progress
    </app-collapsible-panel>
    <app-collapsible-panel title="Raumanforderungen">
      Work in Progress
    </app-collapsible-panel>
  </div>
</perfect-scrollbar>
