@import "../../../variables";

.side-bar {
  padding-top: 20px;
}

.filters {
  padding-top: 10px;
}

.side-button {
  margin-bottom: 10px;
  border: 1px solid $color-primary;
  border-radius: 0;
  padding: 10px 0 10px 0;
  width: 100%;
}

.scrollable-content {
  // navbar-height = 50px
  height: calc(100vh - 50px);
  padding-bottom: 30px;
}

@media screen and (max-width: $screen-size-xs) {
  .scrollable-content {
    // navbar-height * 2= 100px
    height: calc(100vh - 100px);
  }
}

.phase-selections {
  margin-bottom: 5px;
}

.selections-body {
  margin-top: 5px;
  margin-bottom: 5px;
}

.subphase-selections {
  margin-left: 20px;
}

.rating-filter {
  display: flex;
  flex-direction: column;
}

.rating-option {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.rating-option-text {
  padding-left: 10px;
}
