<perfect-scrollbar class="side-bar scrollable-content">
  <div class="col-xs-12">
    <button class="btn btn-default side-button" type="button" (click)="onFavoriteButtonClicked()">
      <span class="glyphicon glyphicon-heart"></span>
      <strong>Meine Favoriten</strong>
    </button>
    <button class="btn btn-default side-button" type="button">
      <span class="glyphicon glyphicon-star"></span>
      <strong>Am besten bewertet</strong>
    </button>
    <button class="btn btn-default side-button" type="button">
      <span class="glyphicon glyphicon-calendar"></span>
      <strong>Neueste</strong>
    </button>
  </div>
  <app-collapsible-panel title="Veranstaltungsarten">
    <app-checkbox label="Seminar" value="0"
                  (selected)="onCourseTypeSelect($event)"></app-checkbox>
    <app-checkbox label="Übung" value="1"
                  (selected)="onCourseTypeSelect($event)"></app-checkbox>
    <app-checkbox label="Vorlesung" value="2"
                  (selected)="onCourseTypeSelect($event)"></app-checkbox>

  </app-collapsible-panel>
  <app-collapsible-panel title="Gruppengröße">
  </app-collapsible-panel>
  <app-collapsible-panel title="Zeitaufwand (Minuten)">
  </app-collapsible-panel>
  <app-collapsible-panel title="Gruppen-Zusammensetzung">
  </app-collapsible-panel>
  <app-collapsible-panel title="Mindestbewertung">
  </app-collapsible-panel>
  <app-collapsible-panel title="Aviva-Phase">
  </app-collapsible-panel>
  <app-collapsible-panel title="Sozialform">
    <app-checkbox label="Plenum interaktiv" value="0"
                  (selected)="onSocialFormSelect($event)"></app-checkbox>
    <app-checkbox label="Partner/Gruppenarbeit" value="1"
                  (selected)="onSocialFormSelect($event)"></app-checkbox>
    <app-checkbox label="Plenum untereinander" value="2"
                  (selected)="onSocialFormSelect($event)"></app-checkbox>
    <app-checkbox label="Einzelarbeit" value="3"
                  (selected)="onSocialFormSelect($event)"></app-checkbox>
    <app-checkbox label="Plenum frontal" value="4"
                  (selected)="onSocialFormSelect($event)"></app-checkbox>
  </app-collapsible-panel>
  <app-collapsible-panel title="Materialien">
  </app-collapsible-panel>
  <app-collapsible-panel title="Raumanforderungen">
  </app-collapsible-panel>

</perfect-scrollbar>
