<li class="list-group-item" routerLinkActive="active" [@flyIn]="'in'">
  <div class="flex-container">
    <div class="flex-element">
      <span class="glyphicon" [ngClass]="{ 'glyphicon-check': checked, 'glyphicon-unchecked': !checked }"
            (click)="checked = !checked" style="cursor: pointer"></span>
    </div>
    <div class="flex-element" [routerLink]="[method.id]">
      <img
        [src]="method.thumbnail"
        alt="" class="media-object" style="height: 50px">
    </div>
    <div class="flex-body" [routerLink]="[method.id]">
      <h4 class="text-center" style="cursor: pointer">
        {{ method.title }}
      </h4>
      <rating [(ngModel)]="method.userRating" [max]="max" [readonly]="true"></rating>
    </div>
    <div class="flex-right" [routerLink]="[method.id]">
      <div class="flex-element">
        <span class="glyphicon glyphicon-heart" *ngIf="isFavorite" style="font-size: 1.5em">
      </span>
      </div>
      <div class="flex-element" style="cursor: pointer">
      <span class="glyphicon glyphicon-chevron-right" style="font-size: 1.5em">
      </span>
      </div>
    </div>
  </div>
</li>
