#custom-search-input button {
  border-color: #43A047;
  background: none;
  /** belows styles are working good */
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  border-radius: 3px;
}

.search-query:focus + button {
  z-index: 3;
}

.input-group input.form-control:focus {
  border-color: #43A047;
}

.scrollable-content {
  height: 77vh;
}

.add-item {
  z-index: 3;
}
