#custom-search-input button {
  border-color: #007534;
  background: none;
  /** belows styles are working good */
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  border-radius: 3px;
  color: #007534;
}

.search-query:focus + button {
  z-index: 3;
}
