<p>Search Box</p>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <app-method-item
        *ngFor="let method of methods"
        [method]="method">
      </app-method-item>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-primary" role="button" [routerLink]="['new']">
      Neue Methode
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-primary" role="button" [routerLink]="['1','edit']">
      Methode bearbeiten
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-primary" role="button" [routerLink]="['1']">
      Methode betrachten
    </a>
  </div>
</div>
