<div class="row">
  <div class="col-xs-12">
    <div id="custom-search-input">
      <div class="input-group">
        <input type="text" class="search-query form-control" placeholder="Methode finden..."/>
        <span class="input-group-btn">
          <button class="btn btn-danger" type="button">
            <span class=" glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <app-method-item
        *ngFor="let method of methods"
        [method]="method">
      </app-method-item>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-primary" role="button" [routerLink]="['new']">
      Neue Methode
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-primary" role="button" [routerLink]="['1','edit']">
      Methode bearbeiten
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-primary" role="button" [routerLink]="['1']">
      Methode betrachten
    </a>
  </div>
</div>
