/* You can add global styles to this file, and also import other style files */
@import "variables";

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: $color-primary-button;
  color: #ffffff;
  border-color: #1B5E20;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: $color-primary;
}

.btn-primary:active, .btn-primary.active {
  background: $color-primary;
  box-shadow: none;
}

.btn:focus {
  outline: none;
}

rating {
  color: $color-primary-button;
}

rating > span:focus {
  outline: 0 none;
}

.glyphicon {
  color: $color-primary-button;
}

.list-group a.list-group-item.active {
  border: 3px solid $color-primary;
  color: $color-primary;
  background-color: #FFFFFF;
}

body {
  height: 100%;
  overflow: hidden;
}

.scrollable-content {
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.panel-default > .panel-heading {
  background-color: $color-primary;
  color: white;
}
