/* You can add global styles to this file, and also import other style files */
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #43A047;
  color: #ffffff;
  border-color: #1B5E20;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #007534;
}

.btn-primary:active, .btn-primary.active {
  background: #007534;
  box-shadow: none;
}

.btn:focus {
  outline: none;
}

rating {
  color: #43A047;
}

.glyphicon {
  color: #43A047;
}

.list-group a.list-group-item.active {
  border: 3px solid #007534;
  color: #007534;
  background-color: #FFFFFF;
}
